.post{
    display: flex;
    flex-direction: column;
    height: 300px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 9px 1px rgba(0,0,0,0.1); 
    box-shadow: 3px 3px 9px 1px rgba(0,0,0,0.1);
    justify-content: space-between;

}

.post div{
    display: flex;
    gap: 10px;
}

.link{
    text-decoration: none;
}

.post img{
    width: 320px;
    height: 180px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    object-fit:cover;
    margin-bottom: 10px;
}

.post h2{
    color: black;
    margin: 0 0.5rem;
    font-size: 20px;
}

.post h2:hover{
    color: var(--main-color);
}


.post p{
    margin: 5px;
}

.category-name{
    color: var(--main-color);
  }

@media screen and (max-width: 344px){

    .post{
        height: 250px;
        margin: 0 10px;
    }

    .post h2{
        font-size: 16px;
    }
    
    .post img{
        width: 100%;
        height: 160px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        object-fit:cover;
        margin-bottom: 10px;
    
    }

    .post p{
        font-size: 14px;
    }
}