.posts-container{
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: 300px;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
    min-height: 80vh;
}


@media screen and (max-width: 1084px){
    .posts-container{
        grid-template-columns: repeat(2, 320px);
    } 
}

@media screen and (max-width: 714px){
    .posts-container{
        grid-template-columns: 320px;
    } 
}

@media screen and (max-width: 344px){
    .posts-container{
        grid-template-columns: 100%;
        grid-template-rows: 240px;
       
    } 
}