.posts-container{
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: center;
    gap: 1.5rem;
}


@media screen and (max-width: 1084px){
    .posts-container{
        grid-template-columns: repeat(2, 320px);
    } 
}

@media screen and (max-width: 714px){
    .posts-container{
        grid-template-columns: 320px;
    } 
}

@media screen and (max-width: 344px){
    .posts-container{
        grid-template-columns: 280px;
       
    } 
}