.posts-container{
    display: grid;
    grid-template-columns: repeat(2, 320px);
    justify-content: center;
    gap: 1.5rem;
}

.post{
    display: flex;
    flex-direction: column;
    height: 320px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 9px 1px rgba(0,0,0,0.1); 
    box-shadow: 3px 3px 9px 1px rgba(0,0,0,0.1);
    justify-content: space-between;

}

.post div{
    display: flex;
    gap: 10px;
}

.link{
    text-decoration: none;
}

.post img{
    width: 320px;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    object-fit:cover;
    margin-bottom: 10px;

}

.post h2{
    color: black;
    margin: 0 0.5rem;
    font-size: 22px;
}


.post p{
    color: black;
    margin: 5px;
}